{% extends "base.html" %}
{% load cookbook_extras %}
{% block title %}Cookbook{% endblock %}

{% block breadcrumbs %}
  <a href="/">Vittles</a>
{% endblock %}

{% block quicksearch %}
  <form>
    <label for="search">Search</label> <input type="text" id="search" size="30" />
  </form>
  <script type="text/javascript">
    $(function () {
      $('input#search').quicksearch('ul li');
    });
  </script>
{% endblock %}

{% block content %}
  <div class="boxlist">
    {% for category, recipes in recipe_categories %}
      {% if category %} <h2>{{ category }}</h2> {% endif %}
      <ul>
        {% for recipe in recipes %}
        <li class="recipe" id="recipe_{{ recipe.id }}">
          <a href="{% url cookbook_show_recipe recipe.id %}">
            {% include "cookbook/_recipe_summary.html" %}
          </a>
          <div class="popup" style="display: none;">
            {% nutrition_summary recipe.nutrition %}
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <script type="text/javascript">
    $(function() { add_popup('li.recipe'); });
  </script>
{% endblock %}
