/* vittles.css */

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

.header {
  background: #206;
  color: white;
  margin: 0;
  padding: 8px 15px;
}
.header a {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 0.9em;
  color: #999;
}
.header a:hover {
  color: #fff;
}

.rating {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.left-column {
  float: left;
  margin-right: 1em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
  padding: 15px;
}

.ingredients h2,
.directions h2 {
  display: none;
}

.ingredients ul {
  list-style: circle;
  padding-left: 20px;
}

.directions {
  padding: 15px;
  text-align: justify;
}
.directions p {
  margin: 0 0 1.2em 0;
}

a {
  color: #448;
  text-decoration: none;
}
a:hover, a:active {
  color: #40E;
  text-decoration: none;
}

.recipes h2 {
  padding: 0.5em 2em 0 2em;
  font-weight: normal;
  /*
  background: #eee;
  border-top: 1px solid #ccd;
  border-bottom: 1px solid #ccd;
  */
}

.recipes ul {
  list-style: none;
  margin: 1em 4em;
  padding: 0;
}

.recipes ul li a {
  display: block;
  background: #fff;
  border: 1px solid #aaa;
  padding: 6px 10px;
  margin: 2px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.recipes ul li {
  font-size: 1.3em;
}
.recipe-name {
  font-weight: bold;
}

.recipe-info {
  font-weight: normal;
  font-size: 0.8em;
}

.recipes ul li a:hover {
  background: #f8f8d0;
}

.preheat {
  color: #f40;
  font-style: italic;
}

.nav {
  padding: 1em 2em;
  background: #eee;
  border-bottom: 1px solid #ccc;
}
.nav p {
  margin: 0 0 1em 0;
}
.nav label {
  font-weight: bold;
}

.breadcrumbs {
  background: #DCE;
  margin: 0;
  padding: 4px 10px;
  font-size: 0.9em;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

.nutrition_info {
  /*
  background: white;
  border: 2px solid black;
  */
  padding: 4px 6px;
  margin: 0;
  display: inline-block;
}
.nutrition_info p {
  margin: 0;
  padding: 3px 0;
}
.nutrition_info table {
  margin: 0;
  padding: 3px 0;
  /*
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  */
  border-spacing: 0;
  font-size: 0.9em;
}
.nutrition_info tr th,
.nutrition_info tr td {
  padding: 3px 0;
  margin: 0;
  font-weight: normal;
  border-bottom: 1px solid black;
}
.nutrition_info tr:last-child th,
.nutrition_info tr:last-child td {
  border-bottom: none;
}
.nutrition_info th {
  text-align: left;
}
.nutrition_info td {
  text-align: right;
}


/* Diet calendar */
div.calendar {
  margin: 1em 2em;
}
table.month {
  width: 100%;
}
table.month th {
  padding: 2px 6px;
}
table.month td {
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  height: 80px;
  vertical-align: top;
  padding: 5px;
  font-weight: normal;
}
table.month td.noday {
  background: #eee;
}
table.month td.today {
  background: #ffc;
}
table.month td ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
table.month th.prev_month {
  text-align: left;
  font-weight: normal;
}
table.month th.next_month {
  text-align: right;
  font-weight: normal;
}

/* Nutrition info popups */
.ingredient:hover {
  background: #f8f8d0;
}
.ingredient .popup,
.recipe .popup {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-top: 1px solid black;
  background: #f8f8d0;
  font-weight: normal;
  font-size: 16px;
  padding: 2px 6px;
}

