<table class="month">
  <tr>
    <th class="prev_month">
      <a href="{% url diet-meal-calendar prev_month|date:"Y-m" %}">{{ prev_month|date:"F Y" }}</a>
    </th>
    <th colspan="5">
      {{ this_month|date:"F Y" }}
    </th>
    <th class="next_month">
      <a href="{% url diet-meal-calendar next_month|date:"Y-m" %}">{{ next_month|date:"F Y" }}</a>
    </th>
  </tr>

  <tr>
    {% for header in headers %}
      <th>{{ header }}</th>
    {% endfor %}
  </tr>

  {% for week in calendar %}
    <tr>
      {% for day in week %}
        {% if day.class %}
          <td class="{{ day.class }}">
        {% else %}
          <td>
        {% endif %}
          <b>{{ day.day|date:"j" }}</b>
          <a href="{% url diet-meal-add day.day|date:"Y-m-d" %}" title="Add meal"><img src="/static/images/icon_addlink.gif" alt="+"/></a>
          <ul>
            {% for meal in day.events %}
            <li>
              <a href="{{ meal.recipe.get_absolute_url }}" title="View recipe">{{ meal.recipe.name }}</a>
              <a href="{% url diet-meal-delete meal.id %}" title="Remove {{ meal.recipe.name }}"><img src="/static/images/icon_deletelink.gif" alt="X"/></a>
            </li>
            {% endfor %}
          </ul>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

