<table class="month">
  <tr>
    <th class="prev_month">
      <a href="{% url diet-meal-calendar prev_month|date:"Y-m" %}">&larr; {{ prev_month|date:"F Y" }}</a>
    </th>
    <th colspan="5">
      {{ this_month|date:"F Y" }}
    </th>
    <th class="next_month">
      <a href="{% url diet-meal-calendar next_month|date:"Y-m" %}">{{ next_month|date:"F Y" }} &rarr;</a>
    </th>
  </tr>

  <tr>
    {% for header in headers %}
      <th>{{ header }}</th>
    {% endfor %}
  </tr>

  {% for week in calendar %}
    <tr>
      {% for day in week %}
        {% if day.class %}
          <td class="{{ day.class }}">
        {% else %}
          <td>
        {% endif %}
          <b>{{ day.day|date:"j" }}</b>
          <b><a href="{% url diet-meal-add day.day|date:"Y-m-d" %}" title="Add meal">+</a></b>
          <ul>
            {% for meal in day.events %}
            <li>
              <a href="{{ meal.recipe.get_absolute_url }}">{{ meal.recipe.name }}</a>
              (<a href="{% url diet-meal-delete meal.id %}">X</a>)
            </li>
            {% endfor %}
          </ul>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

