{% extends "base.html" %}
{% load cookbook_extras %}
{% block title %}Vittles{% endblock %}

{% block content %}

<div class="header">
  <h1>Vittles</h1>
</div>

<p><a href="/admin">Admin site</a></p>

<div class="recipes">
  {% for category, recipes in recipe_categories %}
    {% if category %} <h2>{{ category }}</h2> {% endif %}
    <ul>
      {% for recipe in recipes %}
      <li>
        <a href="/cookbook/{{ recipe.id }}/">
          <span class="recipe-name">{{ recipe.name }}</span>
          {% if recipe.source %} from {{ recipe.source }} {% endif %}
          {% if recipe.servings %}({{ recipe.servings }}){% endif %}
          {% include "recipe_rating.html" %}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

{% endblock %}
