<div class="nutrition_info">
  <h2>Nutrition Facts</h2>
  <p>Per serving</p>
  <ul>
    <li><b>Calories</b> {{ nutrition_info.calories|floatformat }}</li>
    <li><b>Calories from Fat</b> {{ nutrition_info.fat_calories|floatformat }}</li>
    <li><b>Fat</b> {{ nutrition_info.fat|floatformat }} g</li>
    <li><b>Carbohydrate</b> {{ nutrition_info.carb|floatformat }} g</li>
    <li><b>Sodium</b> {{ nutrition_info.sodium|floatformat }} mg</li>
    <li><b>Protein</b> {{ nutrition_info.protein|floatformat }} g</li>
    <li><b>Cholesterol</b> {{ nutrition_info.cholesterol|floatformat }} mg</li>
  </ul>
</div>
