{% extends "base.html" %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

<div class="header">
  <h1>{% include "recipe_summary.html" %}</h1>
</div>

<div class="left-column">
  <div class="ingredients">
    <h2>Ingredients</h2>
    {% for category, ingredients in recipe.ingredient_groups %}
      {% if category %}
        <h3>{{ category }}</h3>
      {% endif %}

      <ul>
        {% for ingredient in ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</div>

<div class="directions">
  <h2>Directions</h2>
  {% if recipe.preheat %}
    <p class="preheat">Preheat oven to {{ recipe.preheat }}</p>
  {% endif %}

  {% for paragraph in recipe.directions_paragraphs %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</div>


{% endblock %}

