{% extends "base.html" %}
{% block title %}Vittles{% endblock %}

{% block content %}

<h1>{{ recipe.name }}</h1>

<h2>Ingredients</h2>
{% for group in ingredient_groups %}
  <h3>{{ group.name }}</h3>
  <ul>
    {% for ingredient in group.ingredients.all %}
      <li>{{ ingredient }}</li>
    {% endfor %}
  </ul>
{% endfor %}

<h2>Directions</h2>
{% if recipe.preheat %}
  <p>Preheat oven to {{ recipe.preheat }}.</p>
{% endif %}

<p>{{ recipe.directions }}</p>

{% if recipe.servings %}
  <p>Makes {{ recipe.servings }} servings.</p>
{% endif %}

{% endblock %}

