{% extends "base.html" %}
{% block title %}Add Meal{% endblock %}

{% block breadcrumbs %}
  <a href="/">Vittles</a>
  <a href="{% url diet_index %}">Diet</a>
  <a href="{% url diet_meal_calendar meal_date|date:"Y-m" %}">{{ meal_date|date:"F Y" }}</a>
{% endblock %}

{% block content %}
  <form action="" method="post">
    <table class="form">
      {{ form.as_table }}
    </table>
    <input type="submit" value="Save" />
  </form>

  <script type="text/javascript">
    $(function() {
      $('#id_recipe').searchable();
    });
  </script>
{% endblock %}
