{% extends "base.html" %}
{% load cookbook_extras %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block header %}
  {% include "cookbook/_recipe_summary.html" %}
{% endblock %}

{% block content %}

<div class="breadcrumbs">
  &larr; <a href="/">Vittles</a>
  &larr; <a href="{% url cookbook-index %}">Cookbook</a>
</div>

<div class="left-column">
  <div class="ingredients">
    <h2>Ingredients</h2>
    {% for category, ingredients in recipe.ingredient_groups %}
      {% if category %}
        <h3>{{ category }}</h3>
      {% endif %}

      <ul>
        {% for ingredient in ingredients %}
        <li class="ingredient" id="ingredient_{{ ingredient.id }}">
        <a href="/admin/core/food/{{ ingredient.food.id }}">{{ ingredient }}</a>
          {% if ingredient.nutrition_info.empty %} * {% endif %}
          <div class="popup" style="display: none;">
            {% nutrition_summary ingredient.nutrition_info %}
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <p>
    <a href="/admin/cookbook/recipe/{{ recipe.id }}">Edit Recipe</a>
  </p>

  <h2>Nutrition</h2>
  {% include "cookbook/_nutrition_info.html" %}
</div>

<script type="text/javascript">
  $(function() { add_popup('li.ingredient'); });
</script>

<div class="directions">
  <h2>Directions</h2>
  {% if recipe.preheat %}
    <p class="preheat">Preheat oven to {{ recipe.preheat }}</p>
  {% endif %}

  {% for paragraph in recipe.directions_paragraphs %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</div>

{% endblock %}

